// ==========================================================================
//Variables
// ==========================================================================
$screen-sm: 768px;
// ==========================================================================
//Styles
// ==========================================================================

.bottom-toolbar {
    &__pagination {
        padding: 15px;
    }

    @media (max-width: $screen-sm) {
        text-align: center;
    }
}