<ul class="bottom-toolbar__pagination item-container pagination browser-default">
    <li class="waves-effect waves-red" data-bind="css: {'disabled': bottomToolbar.pageIndex() == 0}">
        <a href="#" data-bind="click: bottomToolbar.moveFirstPage, enable: bottomToolbar.pageIndex() > 0">
            <span class="hide-on-small-only">First</span>
            <span class="hide-on-med-and-up">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li class="waves-effect waves-red" data-bind="css: {'disabled': bottomToolbar.pageIndex() <= 0}">
        <a href="#" data-bind="click: bottomToolbar.movePreviousPage">
            <span class="hide-on-small-only">Previous</span>
            <span class="hide-on-med-and-up">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
        </a>
    </li>

    <!-- ko foreach:bottomToolbar.pagers -->
    <li data-bind="css: {'active': $data == $root.bottomToolbar.pageIndex()}">
        <!--<a data-bind="text: $data, attr: { 'href': '#page=' + ($index() + 1)}, click: $root.bottomToolbar.pagerClick"></a>-->
        <a data-bind="text: $data + 1, click:$root.bottomToolbar.moveSelectedPage.bind($data), attr: { 'href': '#page=' + ($data)}"></a>
    </li>
    <!--/ko-->

    <li class="waves-effect waves-red" data-bind="css: {'disabled': bottomToolbar.pageIndex() >= bottomToolbar.maxPageIndex()}">
        <a href="#" data-bind="click: bottomToolbar.moveNextPage">
            <span class="hide-on-small-only">Next</span>
            <span class="hide-on-med-and-up">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </a>
    </li>
    <li class="waves-effect waves-red" data-bind="css: {'disabled': bottomToolbar.pageIndex() == bottomToolbar.maxPageIndex()}">
        <a href="#"
           data-bind="click: bottomToolbar.moveLastPage, enable: bottomToolbar.pageIndex() < bottomToolbar.maxPageIndex()">
            <span class="hide-on-small-only">Last</span>
            <span class="hide-on-med-and-up">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </span>
        </a>
    </li>
</ul>