<header class="main-header" id="main_header"></header>

<div class="container">
    <div class="row">
        <div class="col s12 m12 l3">
            <section class="filter-container" id="sidebar_filter"></section>
        </div>

        <div class="col s12 m12 l9">
            <section class="top-toolbar" id="top_toolbar"></section>
            <section id="product_list"></section>
            <section class="bottom-toolbar" id="bottom_toolbar"></section>
        </div>
    </div>
</div>

<footer class="main-footer" id="main_footer">
    
</footer>