// ==========================================================================
//Variables
// ==========================================================================
$horizontal-indent-sm: 5px;
// ==========================================================================
//Styles
// ==========================================================================
.top-toolbar {
  &__limiter {

  }

  &__descr {
    display: inline-block;
  }

  div.top-toolbar__limiter-page-size {
    display: inline-block;
    margin: 0 $indent-base * 2 0 $indent-base;
    width: 50px;
    @media #{$small-and-down} {
      margin: 0;
    }

    .select-dropdown {
      @media #{$small-and-down} {
        padding-left: $horizontal-indent-sm;
      }
    }
  }

  &__quantity-content {
    text-align: center;
  }

  &__sort-wrapper {
    text-align: right;
  }

  div.top-toolbar__sort-by {
    @extend div.top-toolbar__limiter-page-size;
    margin: 0 $indent-base;
    width: 100px;
    @media #{$small-and-down} {
      width: 70px;
    }
  }
}