<div class="row">
    <div class="col s6 m4 l4">
        <div class="top-toolbar__limiter">
            <div class="top-toolbar__descr">
                <p>Show</p>
            </div>
            <select class="top-toolbar__limiter-page-size" data-bind="options: topToolbar.pageSizeOptions, value: topToolbar.currentPageSize">
            </select>
            <div class="top-toolbar__descr hide-on-small-only">
                <p>per page</p>
            </div>
        </div>
    </div>
    <div class="col m4 l4 hide-on-small-only">
        <div class="top-toolbar__quantity">
            <p class="top-toolbar__quantity-content">
                Products
                <span data-bind="text: topToolbar.getProductsCountsFrom()"></span>
                to
                <span data-bind="text: topToolbar.getProductsCountsTo()"></span>
                of
                <span data-bind="text: topToolbar.recordCount"></span> total
            </p>
        </div>
    </div>
    <div class="col s6 m4 l4">
        <div class="top-toolbar__sort-wrapper">
            <div class="top-toolbar__descr">
                <p>Sort By</p>
            </div>
            <select class="top-toolbar__sort-by" data-bind="options: topToolbar.choices, value: topToolbar.selectedChoice">
            </select>
        </div>
    </div>
</div>