.product-list {
  .product-container {
    //background-color: blue;
    height: 415px;

    .img-container {
      height: 295px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }
}