<section data-bind="foreach: productList.pagedList" class="product-list">
    <div class="col-md-4">
        <div>
            <div class="product-container">
                <h3 data-bind="text: name"></h3>
                <div class="img-container">
                    <img data-bind="attr: {src: img}" src="img/no-img.jpg" alt="">
                </div>
                <p data-bind="text: description"></p>
                <p data-bind="text: price"></p>
            </div>
        </div>
    </div>
</section>