<div class="row">
    <div class="col l4">
        <div class="limiter">
            <div class="form-inline">
                <div class="form-group">
                    <div class="content">
                        <label for="limiter-select">Show</label>
                        <select data-bind="options: topToolbar.pageSizeOptions, value: topToolbar.currentPageSize"
                                id="limiter-select" class="form-control">
                        </select>
                        <div class="descr">
                            <p>per page</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col l4">
        <div class="quantity">
            <p>
                Products
                <span data-bind="text: topToolbar.getProductsCountsFrom()"></span>
                to
                <span data-bind="text: topToolbar.getProductsCountsTo()"></span>
                of
                <span data-bind="text: topToolbar.recordCount"></span> total
            </p>
        </div>
    </div>
    <div class="col l4">
        <div class="sort-by">
            <div class="form-inline">
                <div class="form-group">
                    <div class="content">
                        <label for="sort-by-select">Sort By</label>
                        <select data-bind="options: topToolbar.choices, value: topToolbar.selectedChoice" id="sort-by-select" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>