<h5>Shopping Options</h5>
<div>
	<h5>Price</h5>
	<p>
		<input data-bind="checked: sidebar.priceFilter" class="filled-in" type="checkbox" value="0-20" id="price-before-20">
		<label for="price-before-20" class="layered-nav-filter-label">Before $20</label>
	</p>
	<p>
		<input data-bind="checked: sidebar.priceFilter" class="filled-in" type="checkbox" value="20-30" id="price-20-30">
		<label for="price-20-30" class="layered-nav-filter-label">$20-$30</label>
	</p>
	<p>
		<input data-bind="checked: sidebar.priceFilter" class="filled-in" type="checkbox" value="30-50" id="price-30-50">
		<label for="price-30-50" class="layered-nav-filter-label">$30-$50</label>

	</p>
	<p>
		<input data-bind="checked: sidebar.priceFilter" class="filled-in" type="checkbox" value="50-Infinity" id="price-50-above">
		<label for="price-50-above" class="layered-nav-filter-label">$50 &amp; Above</label>
	</p>
</div>