<div class="container">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="/img/brands/ck-calvin-klein.png" alt="ck-calvin-klein"></a>
        <a class="carousel-item" href="#two!"><img src="/img/brands/DKNY-Donna-Karan-New-York.png" alt="DKNY-Donna-Karan-New-York"></a>
        <a class="carousel-item" href="#three!"><img src="/img/brands/dockers.png" alt="dockers"></a>
        <a class="carousel-item" href="#four!"><img src="/img/brands/hollister.png" alt="hollister"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/juicy-couture.png" alt="juicy-couture"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/nb.png" alt="nb"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/true-religion.png" alt="true-religion"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/nike.png" alt="nike"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/skechers.png" alt="skechers"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/tl.png" alt="tl"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/tommy-hilfiger.png" alt="tommy-hilfiger"></a>
    </div>
</div>
<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12">
                <h5 class="white-text">Arnold Palmer</h5>
                <p class="grey-text text-lighten-4 thin-text">Arnold Palmer, the "Signature" and the "Umbrella" Logo ® are registered trademarks owned by Arnold Palmer Enterprises, Inc.. This website is the only official website of Arnold Palmer Apparel and is Ⓒ Copyright 'Arnold Palmer Apparel'. Commercial reproduction, distribution, or transmission of any part of this website or any information contained therein by any means whatsoever without the prior written permission of Arnold Palmer Apparel is not permited.</p>
                <div class="social-icons-footer">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            <div class="col l3 m3 s12">
                <h5 class="white-text">Categories</h5>
                <ul class="thin-text">
                    <li><a class="grey-text text-lighten-3" href="#">Golf shirts</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Golf shorts & pants</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Midlayers</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Belts</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Gift cards</a></li>
                </ul>
            </div>
            <div class="col l3 m3 s12">
                <h5 class="white-text">About us</h5>
                <ul class="thin-text">
                    <li><a class="grey-text text-lighten-3" href="#">Gallery</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright &copy; 2018 Knockout SPA project
        </div>
    </div>
</footer>