<div class="container">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="/img/brands/ck-calvin-klein.png" alt="ck-calvin-klein"></a>
        <a class="carousel-item" href="#two!"><img src="/img/brands/DKNY-Donna-Karan-New-York.png" alt="DKNY-Donna-Karan-New-York"></a>
        <a class="carousel-item" href="#three!"><img src="/img/brands/dockers.png" alt="dockers"></a>
        <a class="carousel-item" href="#four!"><img src="/img/brands/hollister.png" alt="hollister"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/juicy-couture.png" alt="juicy-couture"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/nb.png" alt="nb"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/true-religion.png" alt="true-religion"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/nike.png" alt="nike"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/skechers.png" alt="skechers"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/tl.png" alt="tl"></a>
        <a class="carousel-item" href="#five!"><img src="/img/brands/tommy-hilfiger.png" alt="tommy-hilfiger"></a>
    </div>
</div>